form{
    margin: 20%;
}
.nav-logo{
    height: 150px;
    width: 150px;
}
a{

    text-decoration: none;
}
.decor{
    color: azure;
}
.main{
    width: 30%;
}
.main-inventario{
    display: flex;
    text-align: start;
}
.opciones{
    width: 30%;
}
.inventario{
    width: 60%;
}
.container{
    margin: 0;
    padding: 0;
}