form{
    margin-top: 5%;
    margin-left: 9%;
    padding-left: 20%;
    padding-right: 21%;
}
.form-label{
    color: azure;
}
body{
    background-color: #333174;
}

.nav-logo-principal{
    margin-left: 60px;
    margin-top: 40px;
    height: 150px;
    width: 150px;
}
.nav-logo{
    height: 150px;
    width: 150px;
    margin-left: 20px;
}

.perfil-logo{
    margin-left: 30px;
    height: 120px;
    width: 120px;
}
.caja-logo{
    margin-left: 30px;
    height: 120px;
    width: 120px;
}
.compra-logo{
    margin-left: 30px;
    height: 120px;
    width: 120px;
}
.inventario-logo{
    margin-left: 40px;
    height: 110px;
    width: 110px;
}
.ajustes-logo{
    margin-left: 30px;
    height: 120px;
    width: 120px;
}
.salir-logo{
    margin-left: 30px;
    height: 120px;
    width: 120px;
}
a{
    text-decoration: none;
}
.registro{
    color: azure;
}
.decor{
    text-decoration: none;
    color: azure;
}
.main{
    display: flex;
    text-align: start;
}
.main-inventario{
    display: flex;
    text-align: start;
}
.opciones{
    width: 20%;

}
.ajustar{
    width: 80%;
    background-color:  #E8F7FD;
}
.ajustar-nav{
    width: 20%;
}
.ajustar-icono{
    display: inline;
}
.inventario{
    background-color: #E8F7FD;
    width: 80%;
    display: table;
}
.container.mt-4{
    padding-left: 5%;
    padding-right: 2%;
}
.btn.btn-primary{
    margin-left: 5%;
}
.container{
    margin: 0;
    padding: 0;
}
.title-inventario{
    padding-top: 20px;
    padding-left: 35%;
    color: #4CBFCE;
}